{% extends "base.html" %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block contenidos %}

    <div class="container">
      <div class="row">
        <div class="imagen col-md-5">
          <img
            class="mb-5"
            src="{% static 'img/hotel.png' %}"
            alt=""
            srcset=""
          />
          <a
            href="{% url 'app:reviews' pk=detalle.id%}"
            class="btn btn-warning btn-lg"
            >Calificar</a
          >
        </div>

        <div class="descripcion col-md-7">
          <h1>{{detalle.nombre}}</h1>
          {{detalle.calificacion}}
          <div class="stars-outer">
            <div class="stars-inner" style="width:{{rating}}%"></div>
          </div>
          <p>{{detalle.direccion}}</p>
          <p>{{detalle.descripcion}}</p>
          <ul>
            {% for atributo in detalle.atributos.all %}
            <li>{{atributo.nombre}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="comentarios">
          <ul class="list-group">
            {% for comentario in comentarios %}
            <li class="list-group-item">
              <div class="row">
                <div class="">
                  <img
                    src="http://placehold.it/80"
                    class="img-circle img-responsive"
                    alt=""
                  />
                </div>
                <div class="col-xs-10 col-md-11">
                  <div>
                    <a href="#">{{comentario.nombre_usuario}}</a>
                    <div class="stars-outer">
                      <div
                        class="stars-inner"
                        style="width:{{comentario.rating}}%"
                      ></div>
                    </div>
                    <div class="mic-info">
                      By: <a href="#">{{comentario.fecha}}</a>
                    </div>
                  </div>
                  <div class="comment-text">{{comentario.comentario}}</div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
